@import url("./public/fonts/gg-sans/stylesheet.css");

body {
  width: 100vw;
  height: 100vh;
  background-color: #313338;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main h1 {
  font-family: 'gg sans';
  font-style: normal;
  font-size: 2.3em;
  font-weight: 600;
  color: #e7e7e7;
  pointer-events: none;
  margin: 0 0 0.15em 0;
}

.interfaz-usuario {
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.contenedor {
  background-color: #1e1f22;
  width: 471px;
  height: 249px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1em;
}

textarea {
  width: 90%;
  height: 70%;
  padding: 5px;
  background-color: #2b2d31;
  border-radius: 5px;
  border: none;
  resize: none;
  font-size: 16px;
  color: #cccccc;
  box-sizing: border-box;
  text-transform: lowercase;
}

textarea:focus { 
  outline: none !important;
  box-shadow: 0 0 2px #adadad;
}

.seccion-botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3em;
}

.boton {
  background-color: #5865f2;
  border-radius: 5px;
  color: #e7e7e7;
  height: fit-content;
  padding: 0 19px;
  font-family: 'gg sans';
  font-style: normal;
  font-size: 14px;
  line-height: 2.5em;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.05), 0 4px 8px rgba(0, 0, 0, 0.05), 0 8px 16px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.boton:hover {
  transition: background-color 0.2s ease-in-out;
  background-color: #4752c4;
}

.desencriptar {
  background-color: #23a55a;
}

.desencriptar:hover {
  background-color: #1d8b4b;
}

.borrar {
  box-shadow: inset 0px 0px 0px 1px #da373c;
  background-color: transparent;
}

.borrar:hover {
  background-color: #da373c;
}

#sin-ejecutar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 1em;
}

#sin-ejecutar div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 40%;
}

#sin-ejecutar img {
  width: 48%;
}

#sin-ejecutar h2 {
  font-family: 'gg sans';
  font-style: normal;
  font-size: 27px;
  font-weight: 600;
  color: #dbdbdb;
  text-align: center;
}

#sin-ejecutar p {
  font-family: 'gg sans';
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color: #bbbbbb;
  text-align: center;
}

#interfaz-encriptado {
  display: none;
  width: 100%;
  height: 100%;
}

.copiar {
  box-shadow: inset 0px 0px 0px 1px #999999;;
  background-color: transparent;
}

.copiar:hover {
  background-color: #999999;
  color: #000000;
}

footer {
  text-align: center;
  font-size: 0.7rem;
  font-family: 'gg sans';
  color: #999;
  position: relative;
  bottom: 2.8em;
}

@media (max-width: 1280px) {
  main {
    align-items: center;
  }

  main h1 {
    font-size: 2.2em;
  }

  .interfaz-usuario {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  main h1 {
    font-size: 2.5em;
    width: min-content;
    text-align: center;
    margin: 0 0 0.8em 0;
    line-height: 40px;
  }

  .contenedor {
    width: 85%;
  }

  .seccion-botones {
    gap: 0;
    width: 100%;
    justify-content: space-evenly;
  }

  #sin-ejecutar div {
    width: 70%;
  }

  #sin-ejecutar img {
    display: none;
  }

  #sin-ejecutar h2 {
    font-size: 2em;
    margin: 0 0 1em 0;
  }

  #sin-ejecutar p {
    font-size: 1em;
    margin: 0;
  }
}