@import url("./public/fonts/gg-sans/stylesheet.css");

body {
  width: 100vw;
  height: 100vh;
  background-color: #313338;
  margin: 0;
}

main {
  width: 100%;
  height: 100%;
}

.interfaz-usuario {
  width: inherit;
  height: inherit;
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.contenedor {
  background-color: #1e1f22;
  width: 30%;
  height: 30%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1em;
}

#contenedor-desencriptar {
  display: none;
}

textarea {
  width: 90%;
  height: 70%;
  padding: 5px;
  background-color: #2b2d31;
  border-radius: 5px;
  border: none;
  resize: none;
  font-size: 16px;
  color: #cccccc;
  box-sizing: border-box;
}

textarea:focus { 
  outline: none !important;
  box-shadow: 0 0 2px #adadad;
}

.seccion-botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3em;
}

.boton {
  background-color: #5865f2;
  border-radius: 5px;
  color: #ffffff;
  height: fit-content;
  padding: 0 19px;
  font-family: 'gg sans';
  font-style: normal;
  font-size: 14px;
  line-height: 2.5em;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.05), 0 4px 8px rgba(0, 0, 0, 0.05), 0 8px 16px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.boton:hover {
  transition: background-color 0.2s ease-in-out;
  background-color: #4752c4;
}

.desencriptar {
  background-color: #23a55a;
}

.desencriptar:hover {
  background-color: #1d8b4b;
}

.borrar {
  border: solid;
  border-radius: 5px;
  border-width: 0.2em;
  border-color: #da373c;
  background-color: transparent;
  color: #ffffff;
}

.borrar:hover {
  background-color: #da373c;
}

footer {
  text-align: center;
  font-size: 0.7rem;
  font-family: 'gg sans';
  color: #999;
  position: relative;
  bottom: 2.8em;
}
